//themes start colors
$color-vert:#2aad89;
$color-jaune:#f5cb45;
$color-lila:#bca4cb;

//generals
$color-lightgrey:#98a6a6;
$color-grey:#becdcd;
$color-darkGrey:#333f4f;
$color-greenGrey:#5b6969;

$color-grey-tuto: #dee6e6;

$site-logo: '/img/logo.png';
