//themes start colors
$pink: #D95284;
$salmon:#F27E63;
$blue:#0442BF;
$medium-blue:#044BD9;
$light-blue:#0476D9;

//generals
$color-lightgrey:#98a6a6;
$color-grey:#becdcd;
$color-darkGrey:#333f4f;
$color-greenGrey:#5b6969;

$color-grey-tuto: #dee6e6;

$site-logo: '/img/logo.png';
