@import "default/header";
@import "default/card";

#memoryDocker {
  width:100%;
  height:100%;
  background: $color-darkGrey;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width:90%;
  height: calc(100vh - 92px);
  padding-top:50px;
  padding-bottom:50px;
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 60%;
}

.score {
  background:$pink;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:40%;
  height:100%;

  .timer {
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background:$pink;
  }

  .display {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
    z-index: 1;

    .time-display,
    .score-display,
    .fails-display{

      strong {
        display:block;
        text-align: center;
        text-transform: uppercase;
        font-size:toRem(24);
        font-weight: $font-weight-extrabold;
        color:rgba(255,255,255,0.8);
        letter-spacing: 2px;
      }
      span {
        display: block;
        font-size:toRem(52);
        text-align: center;
        font-weight: $font-weight-light;
        color:rgba(255,255,255,0.8);
        padding:10px;
      }
    }

  }

}
